    <launch>
    <param name="use_sim_time" value="false"/>
    <arg name="use_local_build" default="false" />
    <arg name="ihmc_network_file" default="$(find ihmc_atlas_ros)/configurations/IHMCNetworkParametersRobot.ini" />
    <arg name="description_model" default="$(find ihmc_atlas_ros)/urdf/atlas_unplugged_v5_no_hands.urdf" />
    <arg name="ihmc_model" default="ATLAS_UNPLUGGED_V5_NO_HANDS" />
    <arg name="tf_prefix" default="NONE" />
    <arg name="multisense_ip" default="192.168.132.103" />
    <arg name="multisense_mtu" default="7500" />

       <include file="$(find ihmc_ros_common)/launch/robot_description_common.launch">
        <arg name="robot_name" value="atlas" />
        <arg name="model_file" value="$(arg description_model)" />
    </include>

    <include file="$(find ihmc_atlas_ros)/launch/common/ihmc_atlas_params_common.launch" />

        <node name="IHMCAtlasAPI" pkg="ihmc_ros_java_adapter" type="gradlew" args="runJava -Dus.ihmc.networkParameterFile=$(arg ihmc_network_file) -PuseLocal=$(arg use_local_build) -Pyaml=$(find ihmc_atlas_ros)/configurations/robot.yaml -PprogramArgs=-m,$(arg ihmc_model),--tfPrefix,$(arg tf_prefix)" required="true" output="screen" cwd="node">
    </node>

 <!-- Start perception nodes-->
    <include file="$(find ihmc_atlas_ros)/launch/multisense.launch">
        <arg name="ip_address" value="$(arg multisense_ip)" />
        <arg name="mtu" value="$(arg multisense_mtu)" />
    </include>

    <node name="set_motor_speed" pkg="dynamic_reconfigure" type="dynparam"  args="set --timeout=10 /multisense motor_speed 2.5" />
    <node name="set_resolution" pkg="dynamic_reconfigure" type="dynparam"  args="set --timeout=10 /multisense resolution 1024x544x64" />
    <node name="transform_provider" pkg="transform_provider" type="transform_provider_node" />
    
    <node name="multisense_static_tf_br" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0  multisense/head_root multisense/head 0.1" />

</launch>


