<launch>

  <arg name="gzname" default="gazebo"/>
  <arg name="gzworld" default="'$(find ihmc_gazebo)/worlds/atlas_default.world'"/>
  <arg name="hand_suffix" default=""/>
  <arg name="extra_gazebo_args" default="-q -e ode" />
  <arg name="model_args" default="_v5" />
  <arg name="robot_name" default="atlas" />

  <arg name="use_local_build" default="true" />
  <arg name="ihmc_network_file" default="$(find ihmc_atlas_ros)/configurations/IHMCNetworkParametersSim.ini" />

  <arg name="ihmc_model" default="ATLAS_UNPLUGGED_V5_DUAL_ROBOTIQ" />
  <arg name="description_model" default="$(find ihmc_gazebo)/urdf/atlas_v5_reflex_hands.urdf" />

  <param name="/atlas/time_to_unpin" type="double" value="0.5"/>
  <param name="/atlas/startup_mode" type="string" value="standing"/>

  <param name="/ihmc_ros/robot_name" value="$(arg robot_name)" />

  <rosparam file="$(find ihmc_gazebo)/yaml/effort_controller_config.yaml" command="load"/>
  <rosparam file="$(find reflex_hand_model)/config/reflex_hand_config.yaml" command="load"/>


  <!-- Robot Description -->
  <param name="/$(arg robot_name)/robot_description" textfile="$(arg description_model)" />
  <param name="/robot_description" textfile="$(arg description_model)" />

  <param name="/robot_description" textfile="$(arg description_model)" />

  <param name="robot_initial_pose/x" value="0.10" type="double"/>
  <param name="robot_initial_pose/y" value="-0.45" type="double"/>
  <param name="robot_initial_pose/z" value="0.92" type="double"/>
  <param name="robot_initial_pose/roll" value="0.0" type="double"/>
  <param name="robot_initial_pose/pitch" value="-0.0" type="double"/>
  <param name="robot_initial_pose/yaw" value="0.0" type="double"/>

  <include file="$(find ihmc_gazebo)/launch/atlas_v5_bringup.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
  </include>

  <node name="ihmc_robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <remap from="joint_states" to="/ihmc_ros/$(arg robot_name)/output/joint_states" />
    <remap from="robot_description" to="/$(arg robot_name)/robot_description" />
  </node>

  <include file="$(find ihmc_atlas_ros)/launch/common/ihmc_atlas_params_common.launch" />

  <!-- start gazebo with the Atlas -->
  <include file="$(find ihmc_gazebo)/launch/atlas_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
    <arg name="gzworld" value="$(arg gzworld)"/>
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
    <arg name="robot_name" value="$(arg robot_name)" />
  </include>

  <node name="hand_controllers" pkg="controller_manager" type="spawner" args="hands_joint_state_controller left_hand_controller right_hand_controller" ns="/reflex_hands">
  </node>
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="FALSE"/>
    <rosparam param="/source_list">[/ihmc_ros/atlas/output/joint_states, /reflex_hands/joint_states]</rosparam>
    <remap from="joint_states" to="/$(arg robot_name)/joint_states" />
  </node> -->
  <node name="GazeboControllerFactory" pkg="ihmc_ros_java_adapter" type="gradlew" args="runJava -Dus.ihmc.networkParameterFile=$(arg ihmc_network_file) -PuseLocal=$(arg use_local_build) -Pyaml=$(find ihmc_atlas_ros)/configurations/gazebo.yaml -PprogramArgs=-m,$(arg ihmc_model)" required="true" output="screen" cwd="node">
  </node>
  <node name="hand_command_relay" pkg="reflex_hand_model" type="hand_command_relay" />
</launch>
